* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: black;
}

.projetos {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #0A0A0A;
}

h1{
    margin-top: 60px;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    text-align: center;

}

.imgbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.box1 {
    border-radius: 10px;
    padding:  55px 125px;
    background-color: white;
}

.box3{
    border-radius: 10px;
    padding: 90px 170px;
    background-color: white
}

.img-container {
    width: 100px; 
    height: 100px; 
    display: flex;
    justify-content: space-between; 
    align-items: center;     
}

.box1 img {

}

.box2 img{
width: 350px;
}


.box3 img{

}