* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: black;
    overflow-x: hidden;
}

.banner{
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    width: 1990px;
    height: 600px;
    background-image: url('./img/parte\ 1.jpg');
}

.info{
    padding: 120px  150px;
}

.info h1{
    display: flex;
    font-size: 100px;
    
}

.info h2{
    font-size: 55px;
    font-weight: 300;
}

.info span{
    display: flex;
    color: #00FFB6;
    font-weight: 300;
    font-size: 25px;

}

.info p{
    font-size: 18px;
    font-weight: 200;
    width: 800px;
}


.projetos {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #0A0A0A;
}

h1{
    margin-top: 60px;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    text-align: center;

}

.imgbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.img-container {
    width: 100px; 
    height: 100px; 
    display: flex;
    justify-content: center;
    align-items: center;     
}


.box1 {
    width: 340px;
    height: 205px;
    border-radius: 10px;
    padding:  55px 125px;
    background-color: white;
}



.box1 img {
    display: flex;
    justify-content: center;
    width: 130px;
    height: 160px;
}

.box2 img{
width: 340px;
height: 205px;
}

.box3 {
    width: 340px;
    height: 205px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.box3 img {
    width: 300px;
}